.Carousel {
  position: relative;
}

.GestureGallery {
  position: absolute;
  height: auto !important;
}

.slider-div {
  height: calc(45vw + 5px) !important;
}

.GalleryImage  {
  height: 45vw !important;
  width: 100% !important;
}

.GalleryImage img  {
  margin: 0px auto;
  display: block;
  object-fit: cover;
  object-position: center;
  min-width: 100%;
  min-height: 100%;
  max-width: 1150px !important;
}

  
@media screen and (min-width: 1110px) {
  .slider-div {
    height: 555px !important;
  }

  .GalleryImage  {
    height: 550px !important;
  }
}