.Carousel {
  position: relative;
}

.GestureGallery {
  position: absolute;
}

.GalleryImage img  {
  margin: 0px auto;
  display: block;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}