.callouts {
    display: flex;
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
    flex-wrap: wrap;
}

.callouts aside {
    font-style: italic;
    height: 3rem;
    color: var(--hi-blue);
}

.callouts aside:before {
    content: url(../images/sun-bullet.png);
    vertical-align: middle;
    margin-right: 0.5rem;
}

.mobile-finance-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.mobile-finance-buttons .cell {
    min-width: 11rem;
    margin-bottom: .3rem;
  }

  .mobile-finance-buttons .cell {
    margin: .2rem;
    min-width: 11rem;
  }

  
@media screen and (min-width: 1110px) {
  .slider-div {
    height: 555px !important;
  }

  .Gesture-view,
  .GestureGallery,
  .GalleryImage {
    height: 550px !important;
  }



}