@supports (display: grid) {
  .info-grid {
    margin-top: -2rem;
    display: grid;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    min-height: 350px;
    /* padding: 1.5vw;
    margin: 2vmin; */
    /* border: 10px solid #666; */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    


    grid-template-areas:
      "title   title   title title title"
      ".   .  product-image  .  ."
      "pricing-info   pricing-info  pricing-info  pricing-info  pricing-info"
      "pricing-info   pricing-info  pricing-info  pricing-info  pricing-info"
      "pricing-info   pricing-info  pricing-info  pricing-info  pricing-info"
      "   .    finance-btn1    finance-btn1  finance-btn2   finance-btn2"
      "brand-logos    brand-logos   brand-logos   brand-logos   brand-logos "
      "footer         footer        footer        footer        footer      ";

  top: 25%;
  }

  .price-grid.hide {
    display: none;
  }

  .pricing-info-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .pricing-info-row {
    display: flex;
    flex-direction: column;
    border-bottom: 2px #999 solid;
    width: 100%;
    /* border-left: 2px #999 solid; */
  }

  .pricing-info-row.platinum {
    background-image: linear-gradient(55deg, hsla(170, 10%, 50.6%, .0), hsla(170, 10%, 50.6%, .6), hsla(170, 10%, 50.6%, .2), hsla(170, 10%, 50.6%, .4), hsla(170, 10%, 50.6%, .2), hsla(170, 10%, 50.6%, .2), hsla(170, 10%, 50.6%, .3), hsla(170, 10%, 50.6%, 0.2), hsla(170, 10%, 50.6%, .4));
  }

  .pricing-info-row.gold {
    background-image: linear-gradient(55deg, hsla(65, 60%, 50.6%, .0), hsla(65, 60%, 50.6%, .6), hsla(65, 60%, 50.6%, .2), hsla(65, 60%, 50.6%, .4), hsla(65, 60%, 50.6%, .2), hsla(65, 60%, 50.6%, .2), hsla(65, 60%, 50.6%, .3), hsla(65, 60%, 50.6%, 0.2), hsla(65, 60%, 50.6%, .4));
  }

  .pricing-info-row.silver {
    background-image: linear-gradient(55deg, hsla(210, 15%, 82.6%, .0), hsla(210, 15%, 82.6%, .6), hsla(210, 15%, 82.6%, .2), hsla(210, 15%, 82.6%, .4), hsla(210, 15%, 82.6%, .2), hsla(210, 15%, 82.6%, .2), hsla(210, 15%, 82.6%, .3), hsla(210, 15%, 82.6%, 0.2), hsla(210, 15%, 82.6%, .4));
    border-bottom: 0 none;
  }

  .pricing-info-row .cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .level-name,
  .level-price {
    flex-grow: 1;
  }

  .level-info {
    flex-grow: 2;
  }

  .pricing-level,
  .seer {
    margin: 0;
  }

  .level-features li {
    text-align: left;
    font-size: 0.9rem;
  }

  .level-description {
    font-weight: 900;
  }


  .info-grid .title {
    grid-area: title;
  }

.info-grid .product-image {
    grid-area: product-image;
    position: relative !important;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0rem auto -15px;
    top: 95px;
    left: 0;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(0,-50%);
    min-width: 160px;
    max-height: 200px;
    padding-left: 22rem;
}

.info-grid .product-image img {
    max-width: 100%;
    position: relative;
    top: 0;
    left: auto;
    z-index: 10;
    margin: .8rem;
    height: 130px;
}

  .info-grid .pricing-info {
    grid-area: pricing-info;
  }

  .info-grid .right-sidebar {
    grid-area: right-sidebar;
  }

  .info-grid .finance-btn1 {
    grid-area: finance-btn1;
  }

  .info-grid .brand-logos {
    grid-area: brand-logos;
  }

  .info-grid .brand-logos img {
    max-width: 100%;
  }

  .info-grid .finance-btn2 {
    grid-area: finance-btn2;
  }

  .info-grid .footer {
    grid-area: footer;
  }


}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.info-grid .cell {
  position: relative;
  padding: 1vw;
  background-position: left bottom;
  background-size: 150% 100%;
  transition: background 500ms, outline 500ms;
  background-position: top left;
  outline: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pricing-info {
  margin: 1rem;
  padding-bottom: 2rem;
}

.info-grid .title {
  background-image: linear-gradient(55deg, #f00 0%, #ff7800 60%);
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1.5rem;
}

.price-month,
.level-tot-price {
  font-weight: 900;
}

.apply-button {
  display: flex;
  padding: 0.5rem;
  color: #fff;
  background-image: linear-gradient(55deg, #444 0%, #222 60%);
  border-radius: 0.4rem;
  font-weight: 900;
  text-decoration: none;
  min-height: 5rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.finance-btn1,
.finance-btn2 {
  position: relative;
}

.finance-btn1 .hover-show,
.finance-btn2 .hover-show {
  /* display: none; */
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(75%, -70%);
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px #ccc solid;
  box-shadow: #333 2px 2px 2px;
  font-size: 11px;
  background: #fff;
  width: 240px;
  opacity: 0;
  filter: opacity(0);
  z-index: -10;
  transition: 500ms;
  height: auto;
}

.finance-btn2 .hover-show {
  transform: translate(-5%, -70%);
}

.finance-btn1:hover .hover-show,
.finance-btn2:hover .hover-show {
  /* display: block; */
  filter: opacity(1);
  opacity: 1;
  z-index: 10;
  height: auto;
}

.finance-btn1 .apply-button span {
  color: #2bc52b;
}

.finance-btn2 .apply-button span {
  color: #ff7800;
}

.info-grid footer.footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0.5rem 0.5rem;
}

.info-grid footer.footer img {
  max-height: 60px;
}



@media screen and (min-width: 740px) {
  .info-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "title            title         title           title         title"
      "product-image    pricing-info  pricing-info    pricing-info  pricing-info"
      "finance-btn1    brand-logos  brand-logos     brand-logos   finance-btn2"
      "footer           footer        footer          footer        footer";
  }

  .pricing-info-row {
    flex-direction: row;
  }

  .info-grid .product-image {
    position: relative !important;
    /* top: 125px;
    left: -15px; */
    z-index: 10;
    margin: 3rem auto;
  }
}
