.Header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
  box-shadow: 1px 1px 7px hsla(0, 0%, 20%, .7);
  /* margin-bottom: 2rem; */
}

.nav-list {
  width: 70px;
  overflow: hidden;

  width: auto;
  overflow: visible;
  height: 85px;

  position: relative;
  top: 10px;
  text-align: right;
  right: 0;
  min-width: 170px;
  font-size: .95em;
}

.top-links {
  height: 1rem;
  background: var(--main-blue);
  color: #fff;
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2% 0 5%;
  margin-top: 2rem;
  justify-content: space-between;
}

.top-links div {
  margin: 0 1rem;
  width: auto;
}

.top-links a {
  color: #fff;
  text-decoration: none;
}

.email-link {
  font-weight: 300;
  font-size: .8rem;
  letter-spacing: .05rem;
  height: 100%;
  display: flex;
  align-items: center;
  background: var(--lt-blue);
  padding: 0 .5rem;
  display: none;
}

.phone-link,
.login-link,
.signup-link {
  font-size: .9rem;
}

.phone-link {
  position: absolute;
  top: .4rem;
  color: var(--main-blue);
  color: #fff;
  left: 20%;
  transform: translateX(-60%);
}

.phone-link a {
  color: var(--main-blue);
  color: #fff;
}

.login-link {
  margin-left: 0rem !important;
}

.signup-link {
  margin: 0 2rem !important;
}

.top-links i {
  font-size: 12px;
  margin-right: .3rem;
}

.logo {
  height: 93px;
  width: 201px;
  background: url(../images/logo-RR-cropped.png) no-repeat;
  background-size: contain;
  position: relative;
  top: -23px;
  left: 0;

  position: relative;
  left: auto;
  transform: translateX(0);
  height: 130px;
  top: 5px;
}

.short-header .logo {
  top: 8px;
  height: 76px;
  width: 160px;
  background: url(../images/logo-RR-cropped.png) no-repeat;
  background-size: contain;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1210;
  width: 96%;
  margin: 0.4rem auto auto;
  font-size: .89rem;
  font-weight: 900;
  position: relative;
  height: 140px;
}

.short-header .main-nav {
  height: 98px;
  margin: -1rem auto auto;
}

.menu-icon {
  font-size: 28px;
  display: block;
  color: var(--lt-blue);
  height: 30px;
  transition: 1s;
  overflow: hidden;

  display: none;
}

.nav-list ul {
  list-style: none;
  padding: 0;
  margin: 0.8rem 0.8rem 0 0;
  max-width: 89%;
  line-height: 1rem;
  float: right;
}

.nav-list li {
  margin: 0;
  line-height: 1.1rem;
  font-size: .9rem;
}

.nav-list li a.selected {
  color: var(--hi-blue);
}

.nav-list li a:hover {
  color: var(--lt-blue-trans);
}

.short-header .nav-list ul {
  margin: 0rem 8.6rem 0 0;
}

.link-home {
  display: none;
}

.link-shop {
  padding-top: 0.4rem;
  ;
}

.nav-list .nobreak {
  display: inline-block;
}

.quote-button {
  top: 5px;
  position: absolute;
  right: 0;
}

.short-header .quote-button {
  top: 19px;
}

.quote-button a {
  height: 1rem;
  background: var(--nav-hover);
  color: #fff;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: center;
}

/*    ########    MEDIA QUERIES    ########  */

@media screen and (min-width: 410px) {
  .top-links {
    margin-top: 0;
    justify-content: flex-start;
  }

  .phone-link {
    position: relative;
    color: #fff;
    top: 0;
    left: 0rem;
    transform: translateX(0);
  }

  .phone-link a {
    color: #fff;
  }

  .login-link {
    margin-left: calc(100% - 330px) !important;
    margin-left: 1rem;
  }

  .signup-link {
    margin: 0 !important;
  }

  .nav-list ul {
    max-width: 100%;
  }

  .nav-list li {
    line-height: 1.3rem;
  }
}

@media screen and (min-width: 507px) {
  .email-link {
    display: flex;
  }
}

@media screen and (max-width: 874px) {
  .payzer-button {
    top: 43px !important;
    transform: scale(0.47) !important;
    right: -4rem !important;
    transition: .45s;
  }

  .payzer-button:hover {
    transform: scale(0.62) !important;
  }
}

@media screen and (min-width: 699px) {



  .login-link {
    margin-left: calc(100% - 630px) !important;
  }
}

@media screen and (min-width: 875px) {

  .short-header .main-nav {
    height: 80px;
  }

  .short-header .logo {
    position: relative;
    left: auto;
    transform: translateX(0);

    top: 8px;
    height: 60px;
    background: url(../images/logo-RR-cropped.png) no-repeat;
    background-size: contain;
  }

  .nav-list {
    width: 100%;
    height: 75px;
    top: 19px;
  }

  .quote-button {
    top: 5px;
    position: absolute;
    right: 0;
  }

  .short-header .quote-button {
    top: 30px;
    position: absolute;
    right: 0;
  }

  .short-header .nav-list {
    top: 32px;
  }

  .short-header .nav-list ul {
    margin-right: 8.3rem;
  }

  .menu-icon {
    display: none;
  }

  .nav-list ul {
    flex-direction: row;
  }

  .nav-list li {
    display: inline-block;

    margin: 0 0.4rem 0.1rem;
    line-height: 1.3rem;
    font-size: 0.9rem;
  }

  .nav-list li.link-home {
    display: none;
  }


}

@media screen and (min-width: 978px) {

  .nav-list li.link-home {
    display: inline-block
  }

  .link-shop {
    margin-top: 0;
  }

}


@media screen and (max-width: 499px) {
  .nav-list {
    width: 70px;
    overflow: hidden;
    width: auto;
    overflow: hidden;
    height: 105px;
    position: absolute;
    top: 30px;
    text-align: right;
    right: 0;
    min-width: 170px;
    font-size: .8rem;
    line-height: 1.5;
  }

  .short-header .nav-list {
    top: 16px;
  }

  .short-header .nav-list ul {
    margin: 0 0.8rem 0 0;
  }

  .short-header .quote-button {
    top: -18px;
  }

  .logo {
    width: 150px;
    top: -5px;
  }

  .payzer-button {
    top: 83px !important;
    transform: scale(0.47) !important;
    right: -63px !important;
    transition: .45s;
  }
}