.HomePage {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.tile-navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 0.2rem;
  width: 100%;
  height: 60vw;
}

.nav-breaker {
  display: flex;
  justify-content: space-around;
  min-width: 200px;
  width: 100%;
}

.tile-nav {
  min-width: 140px;
  flex-grow: 1;
  margin: .2rem;
  background: var(--main-blue);
  /* border: 6px solid var(--main-blue); */
  box-sizing: border-box;
  filter: opacity(1);
  height: 98%;
}

.tile-nav:hover .tile-bg {
  filter: brightness(.8);
}

.tile-nav:hover .tile-mask {
  background: rgba(255, 255, 255, .3) !important;
}

.tile-nav .tile-mask {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  margin: 0;
  background: var(--main-blue-trans);
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsla(0, 0%, 100%, .85);
  font-size: 2.6rem;
  max-width: 360px;
  font-family: Lato, sans-serif;
  font-weight: 600;
  letter-spacing: .1rem;


    width: 46vw;
    height: 29.5vw;
}

.tile-navbar .tile-bg {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  background-size: cover;
  background-position: center;
  position: absolute;
  filter: grayscale(1) opacity(0.5);

  width: 46vw;
  height: 29.5vw;
}

.nav-breaker:nth-child(1) .tile-nav:nth-child(1) .tile-bg {
  background-image: url(../images/fan-man.webp);
}

.nav-breaker:nth-child(1) .tile-nav:nth-child(2) .tile-bg {
  background-image: url(../images/blanket-guy.webp);
}

.nav-breaker:nth-child(2) .tile-nav:nth-child(1) .tile-bg {
  background-image: url(../images/systems-parts.webp);
}

.nav-breaker:nth-child(2) .tile-nav:nth-child(2) .tile-bg {
  background-image: url(../images/finance-icons.jpg);
}

.nav-breaker:nth-child(1) .tile-nav:nth-child(1) .tile-mask,
.nav-breaker:nth-child(2) .tile-nav:nth-child(2) .tile-mask {
  background: var(--lt-blue-trans);
}

.nav-breaker:nth-child(1) .tile-nav:nth-child(2) .tile-mask,
.nav-breaker:nth-child(2) .tile-nav:nth-child(1) .tile-mask {
  background: var(--main-blue-trans);
}

.tile-mask:hover {
  background: var(--lt-blue-trans);
  color: #fff;
  text-shadow: #333 3px 3px 6px, #333 -3px -3px 10px;
  ;
}

.slider-div {
  /* background: url(../images/ACCondenser.webp) no-repeat; */
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  height: 550px;
  width: 100%;
  position: relative;
  padding: 3px;
}

.hero {
  background: rgba(0, 0, 0, .4);
  width: 84%;
  margin: 14% auto auto 8%;
  position: absolute;
  padding: 1rem;

  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.65) 37%, rgba(0, 0, 0, 0.65) 69%, rgba(0, 0, 0, 0.47) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.65) 37%, rgba(0, 0, 0, 0.65) 69%, rgba(0, 0, 0, 0.47) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.65) 37%, rgba(0, 0, 0, 0.65) 69%, rgba(0, 0, 0, 0.47) 100%);
}

.hero h3 {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: .05rem;
  margin: .5rem auto 0;
}

.hero h2 {
  font-size: 2rem;
  color: var(--nav-hover);
  background: rgba(255, 255, 255, .9);
  font-weight: 900;
  display: inline-block;
  padding: 0 1rem;
  margin-bottom: 0;
  font-family: Lato, sans-serif;
}

.hero .deck {
  color: #fff;
  font-weight: 400;
  font-size: 0.85rem;
  letter-spacing: .04rem;
}

.call-to-action a,
.call-to-action span {
  background: var(--hi-blue);
  color: #fff;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: center;
  margin: 1rem 0 0;
  width: 90%;
  font-size: 1rem;
}

.call-to-action a {
  font-size: .95rem;
}

.call-to-action a {
  font-size: .95rem;
}















@media screen and (min-width: 460px) {
  .call-to-action a {
    height: 2.8rem;
  }
}


@media screen and (min-width: 699px) {
  .HomePage {
    flex-direction: column-reverse;
  }

  .hero {
    width: 70%;
  }
}

@media screen and (min-width: 834px) {

  .call-to-action a {
    width: 55%;
  }
}



@media screen and (min-width: 875px) {

  .tile-navbar {
    height: 25vw;
    max-height: 360px;
  }

  .tile-nav {
    margin: .1rem;
  }

  .tile-nav .tile-bg {
    width: 23vw;
    height: 24vw;
    max-width: 100%;
  }

  .tile-nav .tile-mask {
    width:23vw;
    height:24.5vw;
  }

  .nav-breaker {
    min-width: 400px;
    width: 50%;
  }

  .nav-breaker:nth-child(1) .tile-nav:nth-child(1) .tile-mask,
  .nav-breaker:nth-child(2) .tile-nav:nth-child(1) .tile-mask {
    background: var(--lt-blue-trans);
  }

  .nav-breaker:nth-child(1) .tile-nav:nth-child(2) .tile-mask,
  .nav-breaker:nth-child(2) .tile-nav:nth-child(2) .tile-mask {
    background: var(--main-blue-trans);
  }
}

@media screen and (min-width: 1060px) {
  .call-to-action a {
    font-size: 1.3rem;
  }
}
