.info-page {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    

}

.info-page .title {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--main-blue);
}

.info-page .deck {
    min-width: 250px;
    display: block;
    flex-basis: 100%;
    margin: 1rem;
}

.info-blurb {
  min-width: 250px;
    display: block;
    flex-basis: 16rem;
    margin: 1rem;
    flex-grow: 4;
}

.info-blurb h2 {
  display: flex;
    align-items: flex-end;
    text-align: center;
    display: block;
}

.info-blurb img {
  width: 100%;
  height: auto;
}

ul.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

li.product-box {
  width: 32%;
  display: block;
  margin: 0 3rem 4rem;
  min-width: 100%;
}

ul.product-options {
  list-style: none;
  padding-left: calc(50% - 6rem);
}

.product-img {
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.product-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 1010px) {
  li.product-box {
    width: 32%;
    display: block;
    margin: 0 3rem 4rem;
    min-width: 265px;
  }
}