.map-marker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 80px;
  transform: translate(-50%, -50%);
}

.marker-text {
  font-weight: 900;
    font-size: 1.2em;
}

.marker-dot {
  background: rgba(3, 63, 119, 0.7);
    border-radius: 50%;
    padding: 8px;
    height: 10px;
    width: 10px;
    border: 3px var(--hi-blue) solid;
    margin-top: 3px;
}

.map-marker:hover .marker-dot {
  background: rgba(255,255,255,.7);
    border: 3px var(--lt-blue) solid;
}

.map-marker .marker-link {
  filter: opacity(0.6);
  margin-top: 5px;
  position: absolute;
  bottom: -28px;
}
.map-marker:hover .marker-link {
  filter: opacity(1);
  font-weight: 900;
}