input,
select {
    height: 1.5rem;
    font-size: 1rem;
    font-family: Montserrat, arial, sans-serif
}

input[type='submit'] {
    background-color: #28bcff;
    border: none;
    color: #000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    height: 3rem
}

.main-graphic {
    width: 100%;
    max-width: 550px
}

.recommendation-finder {
    color: rgb(94, 94, 94);
    font-family: Montserrat, arial, sans-serif;
    font-weight: 400;
    max-width: 1150px;
    background: #fff;
    width: 100%;
    position: relative;
    overflow: hidden;
}

form,
.recommendation {
    width: 0;
    margin: auto;
    overflow: hidden;
    transition: 0.8s;
    text-align: left;
    filter: opacity(0.7)
}

.step1 {
    transition: .5s;
    height: auto;
    position: absolute;
    left: 3%;
    top: 0;
}

step1.hide {
    top: -1066px;
}

/* .step1.hide * {
    opacity: 0;
    height: 0;
} */

.step2 {
    transition: 0.7s 0.51s
}

fieldset,
.fieldset {
    padding: 1rem
}

legend {
    text-align: left
}

legend {
    font-family: Montserrat, arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px
}

form.active
 {
    border-bottom: 3px solid #00aeef;
    border-radius: 6px;
    filter: opacity(1)
}

.active legend {
    color: #007fb0
}

.show {
    width: 90%;
    height: auto;
}

.recommendation {
    position: absolute;
    width: 100vw;
    height: 0;
    left: 0;
    top: 0;
    overflow: auto;
    background: #fff;
    z-index: 10;
    filter: opacity(0);
    transition: 0.5s;
    padding: 0;
    box-sizing: border-box
}

.recommendation.show {
    width: 100vw;
    height: 100vh;
    padding: 0.5rem;
    filter: opacity(1);
    border: 1rem rgba(0, 0, 0, 0.4) solid
}

aside {
    color: rgb(94, 94, 94);
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 1rem auto 1rem;
    width: 80%;
    height: 1rem
}

.step3>fieldset>div,
.step3>.fieldset>div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column
}

input,
select,
.submit-full {
    margin: 0.5rem
}

input[type='submit'],
.submit-full {
    margin: 0.5rem;
    float: right;
    padding: 0 0.5rem !important;
    height: 2rem !important;
    float: left !important
}

.unit-name {
    margin-bottom: 2rem
}

.unit-name b {
    font-size: 1.2rem;
    font-weight: 800
}

.unit-tonnage {
    font-size: 1.1rem;
    font-weight: 400
}

.unit-seer {
    font-size: 1.1rem;
    font-weight: 400
}

.unit-image {
    float: left;
    margin-right: 2.5rem;
    width: 40%
}

.unit-image img {
    width: 98%
}

.unit-btu,
.unit-price,
.unit-price-package {
    font-size: 1rem
}

.unit-guarantees,
.unit-guarantees .half {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap
}

.unit-guarantees figure {
    text-align: center;
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start
}

.unit-guarantees figure img {
    width: 100%;
    max-width: 84px;
    max-height: 84px;
    margin-bottom: 0.5rem
}

.unit-guarantees figure figcaption {
    font-size: 1.5rem
}

.close-modal {
    position: sticky;
    left: 97%;
    top: 0;
    padding: 0.5rem;
    background: #00aeef;
    color: #fff;
    z-index: 99;
}

.phone-button-box {
    float: right;
    text-align: center
}

.phone-button {
    background: #007fb0;
    color: #fff;
    padding: 0.65rem;
    border-radius: 4px;
    margin: 0 1rem 1rem 1rem;
    font-size: 1.25rem
}

.financing-box {
    width: 50%;
    float: left;
    margin: 2rem auto;
    align-content: center;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    border: 2px #ddd solid;
    border-radius: 1rem;
    color: rgb(94, 94, 94);
    text-decoration: none
}

.financing-box .image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    margin: auto
}

.financing-box .image-div img {
    width: 100%;
    float: none;
    margin: 1rem auto;
    min-width: 125px
}

.warranties-box {
    width: 93%;
    float: left;
    margin-right: 2rem;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 2rem 1rem;
    border: 2px #ddd solid;
    border-radius: 1rem;
    text-align: center
}

.awards-box {
    display: flex;
    justify-content: center;
    width: 93%;
    padding: 2rem
}

.awards-box img {
    height: 100%;
    max-height: 200px;
    margin: 0 2rem
}

.row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border: #ddd solid 1px;
    margin-bottom: 3rem;
    flex-wrap: wrap
}

.image-cell {
    min-width: 90px;
    flex: 1;
    position: relative;
    display: block;
    width: 100%;
    height: 80px
}

.product-info {
    border-right: 1px #888 dotted
}

.product-info,
.product-specs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex: 4;
    margin: 1rem
}

.row h3 {
    margin: 0;
    padding: 4px;
    font-size: 1rem
}

.product-image {
    position: relative;
    float: left;
    margin: 0 2rem 0 0;
    max-height: 25vw;
    max-width: 25vw;
    width: 100%
}

.full-system-details {
    display: none
}

.replacement-parts-box {
    display: none
}

.full-system-details.display {
    display: block
}

.replacement-parts-box.display {
    display: block
}

@media only screen and (min-width: 450px) {
    .unit-guarantees figure {
        width: 40%
    }

    .row h3 {
        font-size: 1.1rem
    }
}

@media only screen and (min-width: 1000px) {

    .step3>fieldset>div,
    .step3>.fieldset>div {
        flex-wrap: wrap;
        text-align: left;
        justify-content: space-around;
        flex-direction: row
    }

    .unit-guarantees figure {
        width: 24%;
        text-align: left
    }
}

@media only screen and (max-width: 603px) {
    .financing-box {
        width: calc(100% - 2rem)
    }
}

@media only screen and (max-width: 450px) {

    fieldset,
    .fieldset {
        padding: 0.5rem !important;
        border: 0 !important;
        font-size: 1rem !important;
        width: 90vw !important
    }

    legend {
        font-size: 0.9rem
    }

    fieldset p,
    .fieldset p {
        width: 80vw !important
    }

    input,
    select {
        margin: 0.5rem 0.5rem 0.1rem !important;
        border: 1px #ccc solid !important
    }

    select {
        font-size: 0.85rem !important
    }

    .image-cell {
        flex: auto
    }

    .product-image {
        margin: -.7rem 2rem 0 -.5rem;
        max-height: 28vw;
        max-width: 28vw
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    .unit-guarantees figure figcaption,
    .financing-box p {
        font-size: 1rem
    }
}