input,
select {
    height: 1.5rem;
    font-size: 1rem;
    font-family: Montserrat, arial, sans-serif
}

input[type='submit'] {
    background-color: #28bcff;
    border: none;
    color: #000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    height: 3rem;
}

.SystemRec .step4 {
    margin-top: 1rem;
    overflow: hidden;
}
.Replacements .step4 {
    margin-top: 1.9rem;
    overflow: visible;
}
/* .RecommendedReplacements  */
input[type="radio"] {
    display: none;
}

/* .RecommendedReplacements  */

.RecommendedReplacements .step4 {
    overflow: visible;
    height: 9rem;padding: 1rem 1rem 1.5rem;
}

.RecommendedReplacements .step4 fieldset {
    padding: 1rem 1rem 4.7rem;
}

fieldset section {
    display: flex;
    justify-content: center;
}

fieldset label, fieldset select, fieldset input[type=text] {
    border: 1px solid #ccc;
    padding: .1rem .3rem;
    border-radius: 5px;
    background: #fff;
    font-size: .9rem;
    font-weight: 600;
    display: inline-flex;
    position: relative;
    height: 2.4rem;
    margin: 0 0.5rem;
    align-items: center;
    /* width: 40%; */
    justify-content: center;
}

label.selected {
    color: #222;
    border: 3px solid var(--hi-blue);
    /* background: var(--trans-blue); */
}

.main-graphic {
    width: 100%;
    max-width: 850px;
    margin: 1rem auto auto 50%;
    transform: translateX(-50%);
    transition: .8s;
    filter: opacity(1);
    top: 10rem;
}

.recommendation-finder {
    color: rgb(94, 94, 94);
    font-family: Montserrat, arial, sans-serif;
    font-weight: 400;
    /* max-width: 1150px; */
    background: #fff;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}

.recommendation-finder .fieldset {
    border-radius: 14px;
    text-align: center;
}

form,
.recommendation {
    width: 0;
    margin: auto;
    overflow: hidden;
    transition: 0.8s;
    text-align: left;
    filter: opacity(0.7)
}

.step1 {
    transition: top .5s;
    height: auto;
    position: relative;
    left: auto;
    top: auto;
}

.step1.hide {
    height: 0;
}

.main-graphic.hide {
    filter: opacity(0);
    position: absolute;
    top: 10rem;
}

/* .step1.hide * {
    opacity: 0;
    height: 0;
} */

.step2 {
    transition: 0.7s 0.21s;
}

.step1 input,
.step2 label,
.step3 select,
.SystemRec:not('.Replacements') .step4 label {
    border: 1px #ccc solid;
    padding: .1rem .3rem .1rem 0.6rem;
    border-radius: 5px;
    /* color: #333; */
    background: #fff;
    font-size: .9rem;
    font-weight: 600;
    display: inline-flex;
    position: relative;
    height: 2.4rem;
    margin: 0 0 0 1vw;
    align-items: center;
    width: 20vw;
    min-width: 15rem;
}

fieldset,
.fieldset {
    padding: 1rem;
}

/* legend {
    text-align: left;

} */

legend {
    font-family: Montserrat, arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

label .thumb-pic {
    width: 90px;
    height: 90px;
    object-fit: contain;
    position: absolute;
    top: 1.7rem;
}

label:hover {
    transform: scale(1.05);
}

label:hover .thumb-pic {
    width: 96px;
    height: 96px;
    top: 1.5rem;
    left: -1px;
}

form.active
 {
    border-bottom: 3px solid #00aeef;
    border-radius: 20px;
    filter: opacity(1);
    max-width: 550px;
}

.active legend {
    color: #007fb0
}

.show {
    width: 90%;
    height: auto;
}

.recommendation {
    position: absolute;
    width: 100vw;
    height: 0;
    left: 0;
    top: -40px;
    overflow: auto;
    background: #fff;
    z-index: 10;
    filter: opacity(0);
    transition: 0.5s;
    padding: 0;
    box-sizing: border-box;
}

.recommendation.show {
    width: calc(100vw - 2rem);
    max-width: calc(100% - 2rem);
    height: calc(100vh - 155px);
    padding: .5rem;
    -webkit-filter: opacity(1);
    filter: opacity(1);
    border: 1rem solid rgba(0,0,0,.4);
    margin: 1rem;
    box-shadow: 7px 10px 11px #333;
}

.price-grid {
    height: 0;
    overflow: hidden;
    width: 100%;
    transition: .5s;
    padding-top: 2rem;
    transform: translateX(110%);
}

.price-grid.show {
    height: auto;
    transform: translateX(0);
}

.pricing-info-box {
    width: 90%;
}

aside {
    color: rgb(94, 94, 94);
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 1rem auto;
    width: 80%;
    height: 0.4rem;
}

aside {
    height: 0;
    margin: 0 auto;
}
.active aside {
    height: 0.4rem;
    margin: 1rem auto;
}

.aside2 {
    height: 0.4rem;
}

.step3 {
    margin-top: 1rem;
}

.step3>fieldset>div,
.step3>.fieldset>div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column
}



input,
select,
.submit-full {
    margin: 0.5rem
}

input[type='submit'], .submit-full {
    margin: 0.5rem;
    float: right;
    padding: 0 0.5rem !important;
    height: 2rem !important;
    float: none !important;
    margin: 1rem auto 0;
    width: 10rem;
}

.unit-name {
    margin-bottom: 2rem
}

.unit-name b {
    font-size: 1.2rem;
    font-weight: 800
}

.unit-tonnage {
    font-size: 1.1rem;
    font-weight: 400
}

.unit-seer {
    font-size: 1.1rem;
    font-weight: 400
}

.unit-image {
    float: left;
    margin-right: 2.5rem;
    width: 40%
}

.unit-image img {
    width: 98%
}

.unit-btu,
.unit-price,
.unit-price-package {
    font-size: 1rem
}

.unit-guarantees,
.unit-guarantees .half {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap
}

.unit-guarantees figure {
    text-align: center;
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start
}

.unit-guarantees figure img {
    width: 100%;
    max-width: 84px;
    max-height: 84px;
    margin-bottom: 0.5rem
}

.unit-guarantees figure figcaption {
    font-size: 1.5rem
}

.close-modal {
    position: -webkit-sticky;
    position: sticky;
    left: 95%;
    top: 1%;
    padding: 0;
    background: hsla(196, 100%, 47%, 1);
    color: #fff;
    z-index: 99;
    border: 3px  hsla(196, 100%, 86%, 1) solid;
    height: 2rem;
    width: 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    line-height: 1em;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 9px;
    font-weight: 900;
    font-family: sans-serif;
}
.close-modal::before {
    content: "\2715";
    color: #fff;
    font-weight: 900 ;
}

.close-modal:hover {
    border: 3px  hsla(196, 100%, 92%, 1) solid;
    background: hsla(196, 100%, 37%, 1);
    color: hsla(196, 100%, 87%, 1);
}

.phone-button-box {
    float: right;
    text-align: center
}

.phone-button {
    background: #007fb0;
    color: #fff;
    padding: 0.65rem;
    border-radius: 4px;
    margin: 0 1rem 1rem 1rem;
    font-size: 1.25rem
}

.financing-box {
    width: 50%;
    float: left;
    margin: 2rem auto;
    align-content: center;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    border: 2px #ddd solid;
    border-radius: 1rem;
    color: rgb(94, 94, 94);
    text-decoration: none
}

.financing-box .image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    margin: auto
}

.financing-box .image-div img {
    width: 100%;
    float: none;
    margin: 1rem auto;
    min-width: 125px
}

.warranties-box {
    width: 93%;
    float: left;
    margin-right: 2rem;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 2rem 1rem;
    border: 2px #ddd solid;
    border-radius: 1rem;
    text-align: center
}

.awards-box {
    display: flex;
    justify-content: center;
    width: 93%;
    padding: 2rem
}

.awards-box img {
    height: 100%;
    max-height: 200px;
    margin: 0 2rem
}

.row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border: #ddd solid 1px;
    margin-bottom: 3rem;
    flex-wrap: wrap
}

.image-cell {
    min-width: 90px;
    flex: 1;
    position: relative;
    display: block;
    width: 100%;
    height: 80px
}

.product-info {
    border-right: 1px #888 dotted
}

.product-options {
    font-size: 1.3rem;
    line-height: 2rem;
}

.product-info,
.product-specs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex: 4;
    margin: 1rem
}

.row h3 {
    margin: 0;
    padding: 4px;
    font-size: 1rem
}

/* .product-image {
    position: relative;
    float: left;
    margin: 0 2rem 0 0;
    max-height: 25vw;
    max-width: 25vw;
    width: 100%;
    margin: 3rem auto;
} */

.full-system-details {
    display: none
}

.replacement-parts-box {
    display: none
}

.full-system-details.display {
    display: block
}

.replacement-parts-box.display {
    display: block
}

.info-page .title {
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 450px) {
    .unit-guarantees figure {
        width: 40%
    }

    .row h3 {
        font-size: 1.1rem
    }
}

@media only screen and (min-width: 1000px) {

    .step3>fieldset>div,
    .step3>.fieldset>div {
        flex-wrap: wrap;
        text-align: left;
        justify-content: space-around;
        flex-direction: row
    }

    .unit-guarantees figure {
        width: 24%;
        text-align: left
    }
}

@media only screen and (max-width: 603px) {
    .financing-box {
        width: calc(100% - 2rem)
    }
}

@media only screen and (max-width: 450px) {

    fieldset,
    .fieldset {
        padding: 0.5rem !important;
        border: 0 !important;
        font-size: 1rem !important;
        width: 90vw !important
    }

    legend {
        font-size: 0.9rem;
        padding: 0 0.4rem;
    }

    fieldset p,
    .fieldset p {
        width: 80vw !important
    }

    input,
    select {
        margin: 0.5rem 0.5rem 0.1rem !important;
        border: 1px #ccc solid !important
    }

    select {
        font-size: 0.85rem !important
    }

    .image-cell {
        flex: auto
    }

    .product-image {
        margin: -.7rem 2rem 0 -.5rem;
        max-height: 28vw;
        max-width: 28vw
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    .unit-guarantees figure figcaption,
    .financing-box p {
        font-size: 1rem
    }
}
