@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
  --main-blue: #033d75;
  --hi-blue: #26cdff;
  --lt-blue: #1d5183;
  --trans-blue: hsla(209, 95%, 51%, 0.2);
  --main-blue-trans: hsla(209, 95%, 24%, 0.2);
  --lt-blue-trans: hsla(194, 100%, 57%, 0.5);
  --nav-hover: hsl(357, 68%, 53%);
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

    background: #369;
}

#root {
    background: #369;
    padding-top: 1rem;
    max-width: 100vw;
    margin: auto;
    width: 100vw;
}


.App {
  max-width: 1450px;
  margin: auto;
  background: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.nowrap {
  white-space: nowrap;
  margin-bottom: 1rem;
}


@media screen and (min-width: 550px) {
  #root {
      max-width: 96vw; 
      width: 94vw; 
  }
}