html {
  --main-blue: #033d75;
  --hi-blue: #26cdff;
  --lt-blue: #1d5183;
  --trans-blue: hsla(209, 95%, 51%, 0.2);
  --main-blue-trans: hsla(209, 95%, 24%, 0.2);
  --lt-blue-trans: hsla(194, 100%, 57%, 0.5);
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.nowrap {
  white-space: nowrap;
}

.top-links {
  height: 1rem;
  background: var(--main-blue);
  color: #fff;
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2% 0 5%;
  margin-top: 2rem;
  justify-content: space-between;
}

.top-links div {
  margin: 0 1rem;
  width: auto;
}

.top-links a {
  color: #fff;
  text-decoration: none;
}

.email-link {
  font-weight: 300;
  font-size: .8rem;
  letter-spacing: .05rem;
  height: 100%;
  display: flex;
  align-items: center;
  background: var(--lt-blue);
  ;
  padding: 0 .5rem;
  display: none;
}

.phone-link,
.login-link,
.signup-link {
  font-size: .9rem;
}

.phone-link {
  position: absolute;
  top: .4rem;
  color: var(--main-blue);
  left: 50%;
  transform: translateX(-60%);
}

.phone-link a {
  color: var(--main-blue);
}

.login-link {
  margin-left: 0rem !important;
}

.signup-link {
  margin: 0 2rem !important;
}

.top-links i {
  font-size: 12px;
  margin-right: .3rem;
}

.logo {
  height: 93px;
  width: 260px;
  background: url(./components/images/logo.webp) no-repeat;
  background-size: contain;
  position: relative;
  top: -23px;
  left: 0;


  position: relative;
  left: auto;
  transform: translateX(0);
  height: 130px;
  top: 5px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1210;
  width: 94%;
  margin: 0.4rem auto auto;
  font-size: .8rem;
  font-weight: 900;
  position: relative;
  height: 140px;
}

.nav-list {
  width: 70px;
  height: 35px;
  overflow: hidden;



  width: auto;
  overflow: hidden;
  height: 160px;
  position: relative;
  top: 42px;
  text-align: right;
  right: 0;
  min-width: 170px;
}

/* .nav-list:hover {
  width: auto;
  overflow: hidden;
  height: 160px;
  position: relative;
  top: 42px;
  text-align: right;
  right: 0;
  min-width: 170px;
} */

.menu-icon {
  font-size: 28px;
  display: block;
  color: var(--lt-blue);
  height: 30px;
  transition: 1s;
  overflow: hidden;


  display: none;
}

/* .nav-list:hover .menu-icon {
  width: 0;
  height: 0;
} */

.nav-list ul {
  list-style: none;
  /* display: flex;
  justify-content: center; */
  padding: 0;
  /* flex-direction: column; */
}

.nav-list li {
  margin: 0 1rem;
  /* text-align: center; */
}

.nav-list li a.active,
.nav-list li a:hover {
  color: var(--hi-blue);
}

.nav-list .nobreak {
  display: inline-block;
}

.quote-button {
  top: 5px;
  position: absolute;
  right: 0;
}

.quote-button a {
  height: 1rem;
  background: var(--hi-blue);
  color: #fff;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: center;
}

.tile-navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 0.2rem;
}

.nav-breaker {
  display: flex;
  justify-content: space-around;
  min-width: 200px;
  width: 100%;
}

.tile-nav {
  min-width: 140px;
  height: 220px;
  flex-grow: 1;
  margin: .2rem;
  background: var(--main-blue);
  /* border: 6px solid var(--main-blue); */
  box-sizing: border-box;
  filter: opacity(1);
}

.tile-nav:hover .tile-bg {
  filter: brightness(.8);
}

.tile-nav:hover .tile-mask {
  background: rgba(255,255,255,.3) !important;
}

.tile-nav .tile-mask {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  margin: 0;
  background: var(--main-blue-trans);
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
}

.tile-navbar .tile-bg {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  background-size: cover;
  background-position: center;
  position: absolute;
  filter: grayscale(1) opacity(0.5);
}

.nav-breaker:nth-child(1) .tile-nav:nth-child(1) .tile-bg {
  background-image: url(./components/images/cytonn-photography-n95VMLxqM2I-unsplash.jpg);
}

.nav-breaker:nth-child(1) .tile-nav:nth-child(2) .tile-bg {
  background-image: url(https://img1.wsimg.com/isteam/ip/ec3d7ae1-84c5-494d-939d-ab7eac153ebf/ac-systems-parts.jpg);
}

.nav-breaker:nth-child(2) .tile-nav:nth-child(1) .tile-bg {
  background-image: url(./components/images/cytonn-photography-n95VMLxqM2I-unsplash.jpg);
}

.nav-breaker:nth-child(2) .tile-nav:nth-child(2) .tile-bg {
  background-image: url(https://img1.wsimg.com/isteam/ip/ec3d7ae1-84c5-494d-939d-ab7eac153ebf/ac-systems-parts.jpg);
}

.nav-breaker:nth-child(1) .tile-nav:nth-child(1) .tile-mask,
.nav-breaker:nth-child(2) .tile-nav:nth-child(2) .tile-mask {
  background: var(--lt-blue-trans);
}

.nav-breaker:nth-child(1) .tile-nav:nth-child(2) .tile-mask,
.nav-breaker:nth-child(2) .tile-nav:nth-child(1) .tile-mask {
  background: var(--main-blue-trans);
}

.tile-mask:hover {
  background: var(--lt-blue-trans);
}

.slider-div {
  background: url(./components/images/ACCondenser.webp) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 550px;
  width: 100%;
  position: relative;
}

.hero {
  background: rgba(0, 0, 0, .4);
  width: 84%;
  margin: 14% auto auto 8%;
  position: absolute;
  padding: 1rem;

  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.65) 37%, rgba(0, 0, 0, 0.65) 69%, rgba(0, 0, 0, 0.47) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.65) 37%, rgba(0, 0, 0, 0.65) 69%, rgba(0, 0, 0, 0.47) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.65) 37%, rgba(0, 0, 0, 0.65) 69%, rgba(0, 0, 0, 0.47) 100%);
}

.hero h3 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .05rem;
  margin: auto;
}

.hero h2 {
  font-size: 2rem;
  color: var(--lt-blue);
  background: rgba(255, 255, 255, .9);
  font-weight: 700;
  display: inline-block;
  padding: 0 1rem;
}

.hero .deck {
  color: #fff;
  font-weight: 400;
  font-size: 0.85rem;
  letter-spacing: .04rem;
}

.call-to-action a {
  background: var(--hi-blue);
  color: #fff;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: center;
  margin: 1rem 0 0;
  width: 90%;
  font-size: 1rem;
}

@media screen and (min-width: 410px) {
  .top-links {
      margin-top: 0;
      justify-content: flex-start;
  }

  .phone-link {
      position: relative;
      color: #fff;
      top: 0;
      left: 0rem;
      transform: translateX(0);
  }

  .phone-link a {
      color: #fff;
  }

  .login-link {
      margin-left: calc(100% - 330px) !important;
      margin-left: 1rem;

  }

  .signup-link {
      margin: 0 !important;
  }
}

@media screen and (min-width: 460px) {
  .call-to-action a {
    height: 2.8rem;
  }
}


@media screen and (min-width: 699px) {
  .email-link {
      display: flex;
  }

  .login-link {
      margin-left: calc(100% - 630px) !important;
  }


.hero {
  width: 70%;
}
}


@media screen and (min-width: 834px) {



  .call-to-action a {
      width: 55%;
  }


}

@media screen and (min-width: 934px) {
  .logo {
      position: relative;
      left: auto;
      transform: translateX(0);
      height: 130px;
      top: 5px;
  }

  .nav-list {
      width: 100%;
      height: 75px;
      top: 19px;
  }

  .menu-icon {
      display: none;
  }

  .nav-list ul {
      flex-direction: row;
  }

  .nav-list li {
      display: inline-block;
  }

  .nav-breaker {
      min-width: 400px;
      width: 50%;
  }

  .tile-nav {
      margin: .1rem;
  }

  .nav-breaker:nth-child(1) .tile-nav:nth-child(1) .tile-mask,
  .nav-breaker:nth-child(2) .tile-nav:nth-child(1) .tile-mask {
      background: var(--lt-blue-trans);
  }

  .nav-breaker:nth-child(1) .tile-nav:nth-child(2) .tile-mask,
  .nav-breaker:nth-child(2) .tile-nav:nth-child(2) .tile-mask {
      background: var(--main-blue-trans);
  }
}
.call-to-action a {
  font-size: .95rem;
}

@media screen and (min-width: 1060px) {
  .call-to-action a {
      font-size: 1.3rem;
  }

}