html {
  --main-blue: #033d75;
  --hi-blue: #26cdff;
  --lt-blue: #1d5183;
  --trans-blue: hsla(209, 95%, 51%, 0.2);
  --main-blue-trans: hsla(209, 95%, 24%, 0.2);
  --lt-blue-trans: hsla(194, 100%, 57%, 0.5);
  font-size: 18px;
}


body {
  font-family: 'Roboto', sans-serif;
}

#root {
  background: #369;
  padding-top: 1rem;
}

.App {
  max-width: 1450px;
  margin: auto;
  background: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.nowrap {
  white-space: nowrap;
}

.call-to-action a {
  font-size: .95rem;
}




@media screen and (min-width: 460px) {
  .call-to-action a {
    height: 2.8rem;
  }
}


@media screen and (min-width: 699px) {
  .HomePage {
    flex-direction: column-reverse;
  }

  .hero {
    width: 70%;
  }
}


@media screen and (min-width: 834px) {

  .call-to-action a {
    width: 55%;
  }
}




@media screen and (min-width: 1060px) {
  .call-to-action a {
    font-size: 1.3rem;
  }
}